<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
	 <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	  		<ul class="nav navbar-nav">
	        	<li><a href="/books">Home</a></li>
	        	<li><a href="/books/add">Add Book and Review</a></li>
	        	<li><a href="/logoff">Logout</a></li>
	  			</ul>
	  	</div>
  	</nav>
  	<div class="container-fluid">
		<h3>User Alias: {{user_alias}}</h3>
		<p><span>Name:</span> {{user_full_name}}</p>
		<p><span>Email:</span> {{user_email}}</p>
		<p><span>Total Reviews:</span> {{reviews|length}}</p>
		<h5>Posted reviews on the following books:</h5>
			<div id='reviews'>
					{% for review in reviews %}
						<p><a href="/books/{{review.book_id}}">{{review.title}}</a></p>
					{%endfor%}
			</div>
			
	</div>

</body>
</html>